Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Plugins/Developer/RiderLink
/Content/Interface/Textures
/.idea/.idea.FightTraining/.idea/vcs.xml
/.idea/.idea.FightTraining/.idea/indexLayout.xml
/.idea/.idea.FightTraining/.idea/encodings.xml
/.idea/.idea.FightTraining/.idea/.gitignore
/.idea/.idea.FightTraining/.idea
